html, body, * {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background-color: #1c1f2b;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    line-height: 1.6;
    color: #bdcadb;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased
}

.markdown {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 24px 20px 50px 20px;;
    background-color: #1c1f2b;
}

.markdown img {
    max-width: 100%;
}

.markdown h1 {
    font-weight: 700;
    font-size: 2em;
    margin-top: 0!important
}

.markdown h2 {
    font-size: 1.75em;
    font-weight: 700;
}

.markdown h3 {
    font-size: 1.5em;
}

.markdown h4 {
    font-size: 1.25em;
}

.markdown h5 {
    font-size: 1em;
}

.markdown h6 {
    font-size: 1em;
    color: #777;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
    color: #fffffa;
    page-break-after: avoid;
    margin-top: 1.2em;
    margin-bottom: .7em;
    orphans: 3;
    widows: 3;
}

.markdown p {
    orphans: 3;
    widows: 3;
}

.markdown hr {
    display: block;
    height: 4px;
    border:none;
    margin: 1.7em 0;
    padding: 0;
    background-color: #373b4e;
}

.markdown pre, .markdown ul, .markdown ol, .markdown blockquote, .markdown p {
    
    margin-bottom: .85em;
}

.markdown ul, .markdown ol {
    padding-left: 2em;
}

.markdown li {
    margin-bottom: 4px;
}

.markdown .task-list-item {
    list-style-type: none;
    display: block;
    position: relative;
}

/* The container */
/* Hide the browser's default checkbox */
.markdown .task-list-item  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.markdown .task-list-item .checkmark {
    position: absolute;
    top: 5px;
    left: -1.6em;
    height: 16px;
    width: 16px;
    background-color: #2d3143;
}

/* When the checkbox is checked, add a blue background */
.markdown .task-list-item input:checked ~ .checkmark {
    border-radius: 3px;
}

.markdown .task-list-item input ~ .checkmark {
    border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.markdown .task-list-item .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.markdown .task-list-item  input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.markdown .task-list-item  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #9dbed8;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.markdown code, .markdown pre {
    font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
    font-size:1em
}

.markdown pre {
    background-color: #2d3143;
    padding: 10px 18px;
    border-radius: 4px;
    color: #9dbed8;
}

.markdown code {
    background-color: #2d3143;
    padding: .2em;
    border-radius: 2px;
    color: #9dbed8;
    font-size: .85em;
}

.markdown code:before, .markdown code:after {
    letter-spacing: -.2em;
    content: "\00a0";
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-weight: normal;
    font-style:italic;
}

.markdown a {
    color: #3eb1d0;
    text-decoration:none;
    text-decoration-color: #3eb1d0;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown blockquote {
    position: relative;
    margin: 0;
    display: block;
    border-left: solid 4px #373b4e;
    padding: 2px 15px;
    color: #959595;
}

.markdown table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    line-height: 1.5;
    word-wrap: break-word;
    background-color: #2E3143;
    border: 1px solid #3b3f54;
}

.markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown th {
    font-weight: bold;
    padding: 6px 12px;
    border: 1px solid #3b3f54;
}

.markdown td {
    padding: 6px 12px;
    border: 1px solid #3b3f54;
}

.markdown tr {
    background-color: #2d3143;
    color: #b6c2d2;
}

.markdown tr:nth-child(2n) {
    
    background-color: #35394b;
}

/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #e78c45;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b9ca4a;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background-color: #2d3143 !important;
  color: #9dbed8;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
