
html, body, * {
    font-size: 16px;
    color: #B6C2D3;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    background: #1D202B;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    padding: 1em;
}

/* highlight: #3FC6B4 */
/* code backg: #052128 */

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
    border-bottom: solid 1px #66818A;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.17em;
}

h6 {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFB;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #66818A;
    margin: 1em 0;
    padding: 0;
}

pre, ul, ol, blockquote, p {
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin-bottom: 0.3em;
}

pre {
    background-color: #052128;
    padding: 10px 18px;
    border-radius: 4px;
}

code {
    background-color: #052128;
    padding: 2px 4px;
    border-radius: 2px;
}

strong {
    font-weight: bold;
}

em {
    font-weight: normal;
    font-style:italic;
}


ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}


a {
    color: #3FC6B4;
}

div.oct-sub {
    margin-left: 1.2em;
}

blockquote {
    margin: 0;
    display: block;
    border-left: solid 2px #3FC6B4;
    padding: 8px 10px;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    line-height: 1.5;
    word-wrap: break-word;
    border-color: solid 1px #66818A;
    /* background-color: #586D75; */
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    font-weight: bold;
    padding: 6px 12px;
    border: 1px solid #66818A;
}

td {
    padding: 6px 12px;
    border: 1px solid #66818A;
}

tr:nth-child(2n) {
    /* background-color: #839496; */
}

